In [1]:
import pandas as pd
import numpy as np

In [5]:
import requests
import lxml
import bs4
from bs4 import BeautifulSoup

In [20]:
forbes_table = pd.read_csv('/Users/Julia/labs/Ironhack-Module-1-Project---Pipelines-Julia-Roch-/data/processed/processed_data.csv')
display(forbes_table)

,id,lastName,age (years old),Unnamed: 0_x,gender,country,image,Source,worth (in BUSD),worthChange (in millions USD),realTimePosition,name,position,Unnamed: 0
0,8760,BEZOS,54.0,52.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Amazon,112.0,0.000,1.0,jefF BEZOs,1.0,52
1,7500,GATES,62.0,53.0,M,None,https://specials-images.forbesimg.com/imageser...,Technology ==> Microsoft,90.0,-0.001,2.0,bILL GATES,2.0,53
2,5751,bufFETT,87.0,54.0,M,None,https://specials-images.forbesimg.com/imageser...,Finance and Investments ==> Berkshire Hathaway,84.0,-0.002,3.0,WARREN BUFFEtt,3.0,54
3,8365,arNAULt,69.0,55.0,None,France,https://specials-images.forbesimg.com/imageser...,Fashion & Retail ==> LVMH,72.0,0.000,4.0,bernARD ARNAULT,4.0,55
4,5328,zUCKERBERg,33.0,56.0,None,United States,https://specials-images.forbesimg.com/imageser...,Technology ==> Facebook,71.0,0.000,5.0,maRK ZUCKERBERG,5.0,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,1546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,supaluck UMPUJH & family,NaN,47
2256,8869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,thOMAS duff,NaN,48
2257,8722,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zakHAR SMUshkin,NaN,49
2258,4162,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zhaNG ZHONGNENG & FAmily,NaN,50
2259,2497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,zHU YICAi,NaN,51

In [30]:
x = forbes_table.loc[forbes_table['country']=='None', 'name'].tolist()
len(x)

1375

In [23]:
url = 'https://www.forbes.com/billionaires/list/;#version:static'
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')

In [24]:
table = soup.find_all('table',{'id':'the_list'})
table

[]

In [14]:
rows = table.find_all('tr')
rows_parsed = [row.text for row in rows]
rows_parsed

AttributeError: ResultSet object has no attribute 'find_all'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?